<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <a href="/editoras/novo" class="btn btn-primary">Nova Editora</a>
    <br>
    <div class="card">
        <div class="card-header">Editoras Cadastrados</div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <th>Editoras</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <% editoras.forEach(editora => { %>
                        <tr >
                            <td><%= editora.nome %></td>
                            <td>
                                <a href="../editoras/editar/<%= editora.id %>" class="btn btn-primary">Editar</a>
                                <a href="../editoras/excluir/<%= editora.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>